section {
 display: block;
}

section.special, article.special {
  text-align: center;
}

img {
  border-radius: 6px;
  display: block;
}

.image.left, .image.right {
  max-width: 40%;
}

  .image.left img, .image.right img {
    width: 100%;
  }

.image.left {
  float: left;
  margin: 0 1.5em 1em 0;
  top: 0.25em;
}

.image.right {
  float: right;
  margin: 0 0 1em 1.5em;
  top: 0.25em;
}

.image.fit {
  display: block;
  margin: 0 0 2em 0;
  width: 100%;
}

  .image.fit img {
    width: 100%;
  }

.image.main {
  display: block;
  margin: 0 0 3em 0;
  width: 100%;
}

  .image.main img {
    width: 100%;
  }

.image.phone {
  box-shadow: none;
  border-radius: 0;
  margin: 0 0 3em 0;
  width: 13em;
}

  .image.phone img {
    border-radius: 0;
    display: block;
    position: relative;
    width: 100%;
  }

  .image.phone .inner, .image.phone:before, .image.phone:after {
    display: block;
    border: solid 2px rgba(255, 255, 255, 0.25);
  }

  .image.phone .inner {
    position: relative;
  }

    .image.phone .inner:before, .image.phone .inner:after {
      content: '';
      position: absolute;
      left: 50%;
    }

    .image.phone .inner:before {
      top: -1.375em;
      margin-left: -1em;
      width: 2em;
      height: 0.25em;
      border-radius: 0.5em;
      background: rgba(255, 255, 255, 0.25);
    }

    .image.phone .inner:after {
      bottom: -2.75em;
      margin-left: -1em;
      width: 2em;
      height: 2em;
      border-radius: 100%;
      border: solid 2px rgba(255, 255, 255, 0.25);
    }

  .image.phone:before, .image.phone:after {
    content: '';
  }

  .image.phone:before {
    height: 2.5em;
    border-radius: 1em 1em 0 0;
    border-bottom: 0;
  }

  .image.phone:after {
    height: 3.5em;
    border-radius: 0 0 1em 1em;
    border-top: 0;
  }

.image {
box-shadow: 0px;
}

.image.phone {
  box-shadow: none;
}

  .image.phone .inner, .image.phone:before, .image.phone:after {
    border-color: #e6e6e6;
  }

  .image.phone .inner:before {
    background: #e6e6e6;
  }

  .image.phone .inner:after {
    border-color: #e6e6e6;
  }
  /* Spotlight */

  	.spotlight {
  		display: -moz-flex;
  		display: -webkit-flex;
  		display: -ms-flex;
  		display: flex;
  		-moz-align-items: center;
  		-webkit-align-items: center;
  		-ms-align-items: center;
  		align-items: center;
  		margin: 0 0 2em 0;
  	}

  		.spotlight .image {
  			width: 30%;
  			border-radius: 100%;
  			margin: 0 3em 0 0;
  			display: block;
  		}

  			.spotlight .image img {
  				display: block;
  				border-radius: 100%;
  				width: 100%;
  			}

  		.spotlight .content {
  			width: 70%;
  		}

  			.spotlight .content > :last-child {
  				margin-bottom: 0;
  			}

  		.spotlight:nth-child(2n) {
  			-moz-flex-direction: row-reverse;
  			-webkit-flex-direction: row-reverse;
  			-ms-flex-direction: row-reverse;
  			flex-direction: row-reverse;
  		}

  			.spotlight:nth-child(2n) .image {
  				margin: 0 0 0 3em;
  			}

  			.spotlight:nth-child(2n) .content {
  				text-align: right;
  			}

  	@media screen and (max-width: 736px) and (orientation: landscape) {

  		.spotlight .image {
  			margin: 0 2em 0 0;
  		}

  		.spotlight:nth-child(2n) .image {
  			margin: 0 0 0 2em;
  		}

  	}

  	@media screen and (max-width: 736px) and (orientation: portrait) {

  		.spotlight {
  			-moz-flex-direction: column !important;
  			-webkit-flex-direction: column !important;
  			-ms-flex-direction: column !important;
  			flex-direction: column !important;
  		}

  			.spotlight .image {
  				width: 100%;
  				max-width: 60%;
  				margin: 0 0 2em 0 !important;
  			}

  			.spotlight .content {
  				width: 100%;
  				text-align: center !important;
  			}

  	}
